@font-face {
  font-family: 'MyCustomFont';
  src: url('fonts/mini_mottiri.ttf');
}
body {
  font-family: 'MyCustomFont', sans-serif;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
}
.title{
font-size: 25px;
margin-top: 100px;
}
.slime{
  width: 100px;
  height:auto;
  margin-top: 100px;
}
.menu{
  width: 50px;
  height:auto;
  position: absolute;
  top: 20px;
  right: 20px;
}

@media (max-width: 600px) {
  .title {
    font-size: 20px;
    margin-top: 100px;
  }
  .slime {
    width: 100px;
    margin-top: 125px;
  }
  .menu {
    width: 30px;
    top: 15px;
    right: 15px;
  }
}