<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BATTLE!</title>
  <link rel="stylesheet" href="../../static/style.css">
</head>
<body>
  <p class="title">スライム　があらわれた!</p>
  <img src = "../static/character_monster_slime_green.png" alt = "スライム" class = "slime">
  <img src = "../static/sozai_cman_jp_20260921201755.png" alt = "メニュー" class = "menu">
  <div class = "container">
    <img src = "../static/25351742.png" alt = "ボックス" class = "box">
    <img src = "../static/25351742.png" class = "textbox">
    <div class = "command">
      <p class = "battle">たたかう</p>
      <p class = "item">あいてむ</p>
      <p class = "flee">にげる</p>
    </div>
  </div>
</body>
</html>